<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.css"/>

.page{
  width: 1170;
  height: 1920;
  margin: auto;
}
.page{
  background: #cae5ee;
}
.bannière{
  width: 100%;
  height: 124px;
  background: #7abdd4;
}
.logo{
  width: 109px;
  height: 92px;
  float: left;
  margin-top: 15px;
  margin-left: 40px;
}
.logo img{
  width: 100%;
}
.slogan{
  float: left;
  height: 124px;
  margin-left: 13px;
}
.slogan h1{
  line-height: 124px;
  font-family: Raleway;
  color: #00858a;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 0;
}
.menu{
  float: left;
  margin-left: 147px;
  height: 124px;
}
.menu ul{
  margin-bottom: 0;
  margin-top: 0;
}
.menu ul li{
display: inline-block;
line-height: 124px;
}
.menu ul li a{
text-decoration: none;
font-family: Raleway;
color: #00858a;
font-size: 25px;
margin-right: 15px;
margin-left: 17px;
}
.sousmenu{
width: 1072px;
height: 69px;
background-color:#009cab;
margin: auto;
border-left: :5px;
border-right: 5px;
border-bottom: 5px;
border-top: 0px;
border-style:solid;
border-color: #7abdd4;
}
.menu2{
  float: left;
  margin-left: 100px;
  margin-top: 15px;
}
.menu2 ul li{
display: inline-block;
margin-left: 93px;
font-family: Raleway;
}
.menu2 ul li a{
  color: #fff;
  text-decoration: none;
}

.one-time{
  width: 514px;
  height: 560px;
  margin-top: 73px;
  margin-left: 115px;
  float: left;
}

.one-time img{
width: 100%;
bo
}

.description{
  float: left;
  margin-left: 101px;
  margin-top: 50px;
  text-decoration: none;
  list-style-type: none;
}

.danslamemegamme{
width: 1076px;
height: 69px;
background-color:#009cab;
margin:auto;
margin-top: 67px;
border-left: :5px;
border-right: 5px;
border-bottom: 5px;
border-top: 5px;
border-style:solid;
border-color: #7abdd4

}

.textedelamemegamme{
  color: #fff;
  font-family: 'Raleway';
  line-height: 35px;
  font-size: 21px;
  margin-left: 416px;
}
.footer{
  margin-top: 300px;
}
.bannière2{
  width: 100%;
  height: 267px;
  background: #7abdd4;
}

h2{
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
  font-size: 21px;
  color: #00858a;
}

p{
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
  font-size: 21px;
  color: #00858a;
}

p2{
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
font-size: 21px;
color: #00858a;
line-height:35px;
}
